@import url("fonts.css");

img {
    user-select: none;
}

html {
    font-size: clamp(12px, 2vw, 24px);
}

.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: #fff;
    overflow: hidden;
}
  
.particles:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: url(../imgs/bg.png);
    background-size: 21.3rem 21.3rem;
    animation: moveParticles 20s linear infinite;
    opacity: 0.10;
}
  
@keyframes moveParticles {
    100% { transform: translate(256px, 256px); }
}

.performance-container {
    display: grid;
    background-color: #2F3A63; 
    border-radius: 1rem; 
    padding: 1rem;
    gap: 0.5rem;
}

.button-container {
    display: flex;
    @media screen and (width <= 40rem) 
    {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    text-align: center;
    background-color: #364270; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2); 
    border-bottom-right-radius: 1rem; 
    border-bottom-left-radius: 1rem; 
    outline: 4px solid white;
    user-select: none;

    box-sizing: border-box;
}

.hoverable-blue {
    background-color: #364270; 
    color: white; 
    border-radius: 0.5rem; 
    padding: 0.5rem;
    border: none;
    
    transition: ease-out padding 0.1s;
}

.hoverable-white {
    color: #364270; 
    background-color: white; 
    border-radius: 0.5rem; 
    padding: 0.5rem;
    border: none;

    transition: ease-out padding 0.1s;
}

.hoverable-blue::selection {
    background-color: white;
    color: #9A3636;
}

.hoverable-blue:hover {
    padding: 1rem;
    transition: ease-in padding 0.1s;
}

.hoverable-white:hover {
    padding: 1rem;
    transition: ease-in padding 0.1s;
}

.hoverable-white::selection {
    color: white;
    background-color: #9A3636;
}

header {
    width: 100%;
    max-width: 60rem;
    min-width: 30rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2rem;
    color: #364270;
}

h1::selection {
    color: #812E2E;
    background-color: white;
}

h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.5rem;
    color: #364270;
}
.blue-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(max(1rem, 14px), 2vw, 1rem);
    color: #364270;
}

.blue-text::selection {
    color: white;
    background-color: #9A3636;
}

.white-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(max(1rem, 14px), 2vw, 1rem);
    color: #fff;
}

.white-text::selection {
    background-color: white;
    color: #9A3636;
}

fotomark {
    text-align: center;
    color: #2F3A63;
    font-size: 1rem;
    font-weight: 200;
}

.blue-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-family: var(--font-family);
    text-align: center;
    font-size: 1rem;
    height: 3rem;
    width: 100%;
    background-color: #364270;
    border: 0.125rem solid #364270;
    color: #fff;
    padding: 0;
    border: none;
    transition: 
        border 0.1s ease;

    box-sizing: border-box;
}

.dark-red-button {
    display: inline-block;
    margin: -2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-family: var(--font-family);
    text-align: center;
    font-size: 1rem;
    height: 3rem;
    width: 9.16rem;
    background-color: #9A3636;
    color: #fff;
    border: 0.25rem solid #2F3A63;
    padding: 0;
    transition: 
        border 0.1s ease,
        background-color 0.1s ease;

    box-sizing: border-box;
}

input {
    background-color: #812E2E;
    width: 50%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-family: var(--second-family);
    outline: none;
}

input:focus {
    background-color: #812E2E;
    width: 50%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-family: var(--second-family);
    outline: none;
}

input::placeholder {
    text-align: center;
    font-size: 1rem;
    color: rgb(155, 155, 155);
    font-family: var(--second-family);
    font-weight: 200;

    user-select: none;
}

html {
    scroll-behavior: smooth;
}

.red-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-family: var(--font-family);
    text-align: center;
    font-size: 1rem;
    height: 3rem;
    width: 100%;
    background-color: #9A3636;
    color: #fff;
    padding: 0;
    border: none;
    transition: 
        border 0.1s ease;

    box-sizing: border-box;

}

.dark-red-button:hover {
    background-color: #fff;
    color: #9A3636;
    border: 0.125rem solid #364270;
    transition: 
        border 0.1s ease;  
}

.blue-button:hover {
    background-color: #fff;
    color: #364270;
    border: 4px solid #364270;
    transition: 
        border 0.1s ease;
}


.red-button:hover {
    background-color: #fff;
    color: #9A3636;
    border: 4px solid #9A3636;
    transition: 
        border 0.1s ease;
}

section {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
}

.logo-container {
    align-items: center;
    align-content: center;
    display: flex;
    gap: 3rem;
    width: 100%;
    max-width: 60rem;
    min-width: 20rem;
    box-sizing: border-box;
    /* border: 1px solid pink; */
}

.logo-container .item {
    align-items: center;
    align-content: center;
    display: inline-block;
    box-sizing: content-box;
    width: 100%;
    /* border: 1px solid black; */
}

.logo-container .item::selection {
    background-color: #9A3636;
    color: white;
}


.text-item-container {
    align-items: center;
    align-content: center;
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
    @media screen and (width <= 40rem) 
    {
        flex-direction: column;
        gap: 0.5rem;
        .item {
            order: 0 !important;
        }
    }

}

.text-item-container img {
    border: 4px solid white;

}

.text-item-container .item {

    align-items: center;
    align-content: center;
    display: inline-block;
    box-sizing: border-box;
}

.text-item-container .item h2 {
    margin-top: 0px;
    @media screen and (width <= 40rem) 
    {
        margin-top: 1rem;
    }
}

.blue-bg {
    width: 99%; 
    height: 1621px; 
    background-color: #364270; 
    position: absolute;
    z-index: -1;
    border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    gap: 24px;
}

.interactable-image {
    filter: brightness(100%);
    transition: filter 0.1s ease;
}

.interactable-image:hover {
    filter: brightness(70%);
    transition: filter 0.3s ease;
}

.interactable-text {
    opacity: 0%;
    transition: opacity 0.3s ease;
}

.interactable-text:hover {
    opacity: 100%;
    transition: opacity 0.3s ease;
}

.performances {
    background-color: #364270; 
    border-radius: 20px;
}

.social-link:link {
    color: #2F3A63;
    transition: color 0.1s ease-in;

}

.social-link:hover {
    color: #9A3636;
    transition: 
        color 0.3s ease-in,
}

.social-link:visited {
    color: #812E2E;
    transition: color 1s ease-in;


}

.social-link:visited:hover {
    color: #364270;
    transition: color 1s ease-in;
}