img {
    user-select: none;
}

:root {
    --blue-color: #364270;
    --red-color: #9A3636;

    --dark-blue-color: #2F3A63;
    --dark-red-color: #812E2E;
}

html {
    font-size: clamp(12px, 2vw, 24px);
    scroll-behavior: smooth;
}

.particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: #fff;
    overflow: hidden;
}
  
.particles:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: url(../imgs/bg.png);
    background-size: 21.3rem 21.3rem;
    animation: moveParticles 20s linear infinite;
    opacity: 0.10;
}
  
@keyframes moveParticles {
    100% { transform: translate(256px, 256px); }
}

header {
    width: 100%;
    max-width: 60rem;
    min-width: 30rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
}

section {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem;
    box-sizing: border-box;
}

.nav-button {
    font-family: var(--font-family);
    text-align: center;
    font-size: 1rem;

    display: inline-block;
    cursor: pointer;

    padding: 0.5rem 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    height: 3rem;
    width: 100%;

    padding: 0;

    box-sizing: border-box;
}


.hoverable {
    border-radius: 0.5rem; 
    padding: 0.5rem;
    border: none;
    
    transition: ease-out padding 0.1s;
}

.hoverable:hover {
    padding: 1rem;
    transition: ease-in padding 0.1s;
}

.blue-element {
    background-color: #364270; 
    color: white; 
}

.red-element {
    background-color: var(--red-color); 
    color: white; 
}

.white-element {
    color: #364270; 
    background-color: white; 
}

.blue-element::selection {
    background-color: white;
    color: #9A3636;
}

.white-element::selection {
    background-color: #9A3636;
    color: white;
}

.blue-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(max(1rem, 14px), 2vw, 1rem);
    color: #364270;
}

.blue-text::selection {
    color: white;
    background-color: #9A3636;
}

.white-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(max(1rem, 14px), 2vw, 1rem);
    color: #fff;
}

.white-text::selection {
    background-color: white;
    color: #9A3636;
}

.blue-button {
    background-color: #364270;
    border: none;

    color: white;

    transition: 
        border 0.05s ease;

}

.red-button {
    background-color: #9A3636;
    border: none;

    color: white;

    transition: 
        border 0.05s ease;

}

.blue-button:hover {
    background-color: #fff;
    color: #364270;
    border: 4px solid #364270;
    transition: 
        border 0.1s ease;
}


.red-button:hover {
    background-color: #fff;
    color: #9A3636;
    border: 4px solid #9A3636;
    transition: 
        border 0.1s ease;
}
